/* Tab Bar Background */
QTabBar {
    background-color: #f2f4f8;
    padding: 10px;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    border-radius: 50px;
    margin-bottom: 2px;
}

/* Default (inactive) tabs */
QTabBar::tab {
    background-color: #f2f4f8;
    color: #333;
    padding: 8px 16px;
    margin-right: 3
    px; 
    margin-bottom: 4px;
    margin-left: 1px;
    width: 120px;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    border-radius: 7%;
    text-align: left;
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #d1d5db;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
QTabBar::tab:hover {
    background-color: #f1f3f4;
}

/* Selected (active) tab */
QTabBar::tab:selected {
    background-color: #d7e1f6;
    color: rgb(0, 75, 115);
    font-weight: bold;
    border: 1px solid #b2c7f5;
    box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.1);
}


