QTabBar{
    background-color:#c5d0f8;
}

QTabBar::tab {
    background-color: rgb(231, 233, 255);
    color: black;
    padding: 5px 0px;
    padding-left: 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-right:80px;
    max-width:80px;
    text-align: left;
    /* text-decoration: black; */
}

/* QTabBar::close-button {                         /* style the tab close button*/
    /* image: url(../resources/icons/closetabbutton.png); */
    /* subcontrol-position: right; */
    /* border: 1px solid red;
    border-radius:3px;
} */

/*QTabBar::close-button:hover{                     /* close button hover */
    /* background-color: #823aff; */
/* } */

/*QTabBar::close-button:selected{                    /* close button hover */
    /* background-color: #3B2E53; */
/* } */

QTabBar::tab:hover{
    background-color:#ba92ff;
}

QTabBar::tab:selected{                          /* selected tabs */
    background-color: #823aff;
    color: white
}
